<div class="container-fluid" style="background-color: black; color: white; min-height: 150px; padding: 50px 0px 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <span style="font-size: 20px">" I do not fear computers. I fear the lack of them "</span>
            </div>
            <div class="col-lg-6 col-lg-offset-3" style="text-align: right; margin-bottom: 50px">
                <span >Isaac Asimov</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                © 2017 Ondrej Pitoňák
            </div>
        </div>
    </div>
</div>