---
layout  : default
---

<div class="container" style="background-color: white; border: 1px solid #dcdcdc; padding: 0px 30px">
    <div class="row">
        <div class="col-sm-3 hidden-xs" style="position: fixed; padding: 80px 30px 150px; background-color: white">

            {% include {{ page.menu_file }} %}

        </div>
        <div class="col-sm-9"
             style="position: relative; float: right; padding: 50px 30px 150px; border-left: 1px solid #dcdcdc">

            {{ content }}

        </div>
    </div>

    {% include status_bar.html %}

</div>